{% extends 'core/base.html' %}
{% load localize %}

{% block content %}
    <table class="table table-dark table-striped align-middle table-hover" style="text-align: center;">
        <tr>
            <th>Avatar</th>
            {% for sort_name, sort_display in sort_filters.items %}
            <th>
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdown{{ sort_item }}" data-bs-toggle="dropdown" aria-expanded="false">{{ sort_display }}</button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdown{{ sort_item }}">
                        <li><a href="{% relative_url 'asc' sort_item params %}">Ascending</a></li>
                        <li><a href="{% relative_url 'desc' sort_item params %}">Descending</a></li>
                        <li><a href="{% relative_url 'clear' sort_item params %}">Clear</a></li>
                    </ul>
                </div>
            </th>
            {% endfor %}
        </tr>
    {% for character in page_obj %}
        <tr class="clickable text-center" onclick="window.location='{% url 'character-detail' character.pk %}'">
            <td><img src="{{ character.avatar }}" alt="Avatar of {{ character.name }}"/></td>
            <td style="text-align: center;">{{ character.name }}{% if character.main_character %}<br/>< Main >{% endif %}</td>
            <td>{% localize character.realm.realmname_set user.preferred_locale %}</td>
            <td>{{ character.level }}</td>
            <td style="text-align: center;">
                <img src="{{ character.cls.icon.url }}" alt="<br/>{% localize character.cls.classname_set user.preferred_locale %}" />
            </td>
            <td style="text-align: center;">
                <img src="{{ character.current_spec.icon.url }}" alt="<br/>{% localize character.current_spec.specname_set user.preferred_locale %}" />
            </td>
            <td>{% localize character.race.racename_set user.preferred_locale character.gender %}</td>
            <td>{% localize character.gender.gendername_set user.preferred_locale %}</td>
            <td>{{ character.last_updated|date:"DATETIME_FORMAT" }}</td>
        </tr>
    {% empty %}
        <tr><td colspan="10">No Characters Found</td></tr>
    {% endfor %}
        <tr>
            <td colspan="2">
                <a class="btn btn-dark" href="{% url 'characters-import' %}" role="button">{% if page_obj %}Reimport{% else %}Import{% endif %} Characters</a>
            </td>
            <td colspan="8">&nbsp;</td>
        </tr>
    </table>

    {% if page_obj.paginator.num_pages > 1 %}
        <nav aria-label="Character Pagination">
            <ul class="pagination justify-content-center bg-dark">
            {% if page_obj.number != 1 %}
                <li class="page-item bg-dark"><a class="page-link bg-dark" href="{% relative_url '1' 'page' params %}">First</a></li>
            {% else %}
                <li class="page-item bg-dark disabled"><a class="page-link bg-dark">First</a></li>
            {% endif %}

            {% if page_obj.has_previous %}
                <li class="page-item bg-dark"><a class="page-link bg-dark" href="{% relative_url page_obj.previous_page_number 'page' params %}">Previous</a></li>
            {% else %}
                <li class="page-item bg-dark disabled"><a class="page-link bg-dark">Previous</a></li>
            {% endif %}

                <span class="bg-dark py-2" style="vertical-align: middle" >Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
                <li class="page-item bg-dark"><a class="page-link bg-dark" href="{% relative_url page_obj.next_page_number 'page' params %}">Next</a></li>
            {% else %}
                <li class="page-item bg-dark disabled"><a class="page-link bg-dark">Next</a></li>
            {% endif %}

            {% if page_obj.number != page_obj.paginator.num_pages %}
                <li class="page-item bg-dark"><a class="page-link bg-dark" href="{% relative_url page_obj.paginator.num_pages 'page' params %}">Last</a></li>
            {% else %}
                <li class="page-item bg-dark disabled"><a class="page-link bg-dark">Last</a></li>
            {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock content %}
