{% extends 'core/base.html' %}
{% load localize %}


{% block content %}
  {% if form.errors %}
    {% for error in form.errors %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ error }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
  <div class="card mw-100 bg-dark text-white">
    <img src="{{ character.main }}" alt="{{ character.name }}" class="card-img-top"/>
    <div class="card-img-overlay text-center">
        <h1 class="card-title">{{ character.name }}</h1>
        <h2 class="card-subtitle mb-2">{{ character.level}} {% localize character.race.racename_set user.preferred_locale character.gender %} {% localize character.current_spec.specname_set user.preferred_locale %} {% localize character.cls.classname_set user.preferred_locale character.gender %}</h2>
        <h2>{% localize character.realm.realmname_set user.preferred_locale %} {{ character.realm.region.tag|upper }}</h2>
    </div>
    <div class="card-body">
        {% autoescape off %}
        {% localize character.current_spec.specname_set user.preferred_locale character.gender %}
        {% endautoescape %}<br/>
      <span class="card-subtitle mb-1 text-muted">Last Updated: {{ character.last_updated|date:"DATETIME_FORMAT" }}</span>
    </div>
  </div>
{% endblock content %}
